/* DAILY EXERCISES*/


#daily {
    padding: 200px 100px;
  }
  
  .exercisetips {
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #c2c0c0;
    margin-top: 10px;
    text-transform: uppercase;
  }
  