{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

#main {
  background-color: #f2e8f2;
  padding: 4.8rem 0 9.6rem 0;
}

.landingpg {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.landingpg-img {
  width: 100%;
}

.header-main {
  font-family: "Moderustic", sans-serif;
  font-weight: 520;
  font-size: 32px;
  color: #333;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin-bottom: 40px;
  justify: left;
}

.main-description {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.navlink:link,
.navlink:visited {
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.navlink:hover,
.navlink:active {
  color: #8fb453;
}

.head {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 129px;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0.8rem 1rem;
  border-radius: 10px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Slow Transition - hover
  /* transition: 0.9s; */
  transition: all 0.9s;
}

.button:link,
.button:visited {
  background-color: #a4c570;
  color: #fff;
}

.button:hover,
.button:active {
  background-color: #cce4a3;
}

.btnmargin-right {
  margin-right: 1.6rem !important;
}

.grid {
  display: grid;
  column-gap: 30px;
  row-gap: 9.6rem;
  padding: ;
}
.cssgrid2cols {
  grid-template-columns: repeat(2, 1fr);

} 
#about-section{
  margin-top:8rem;
}
.about-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
} 
.landingpg-img{
border-radius:10px;
width:100%;
}
.about-img {
  width: 70%;
  border-radius: 10px;
}
.about-header {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 550;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top:8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
